/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Own styling starts here */

body {
    display: grid;
    grid-template-columns: 1fr;
}

.main-nav {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "page-nav"
    "topic-nav";
}

.page-nav {
    background-color: #131313;
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-height: 32px;
    height: 32px;
}

.page-links {
    display: flex;
    align-items: center;
}

.page-nav-right {
    margin-right: 12px;
}

.page-link {
    height: 16px;
    width: 45px;
    background-color: white;
    margin-left: 12px;
}

/* Second nav bar  */

.topic-nav {
    display: flex;
    justify-content: space-between;
}

.topic-links {
    display: flex;
}

.topic-link {
    width: 78px;
    height: 48px;
    background-color: #555555;
    margin: 18px 12px ;
}

.search-glass {
    height: 48px;
    width: 48px;
    background-color: #555555;
    margin: 18px 12px ;

}

/* Cover story styling */

.cover {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 930px;
}

.main-cover-story {
    grid-column-start: 1;
    grid-row: 1 / -1;
}

.cover-story {
    background-color: #555555;
    border: white 1px solid;
}

/* Wrapper styling */

.wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(150px, 1192px) 1fr;
    padding: 0 20px;
}

.wrapper > * {
    margin: 28px 0px;
}

/* Latest news styling */

.latest-news {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 24px;
}

.latest-news-header {
    width: 164;
    grid-column: 1 / -1;
    margin: 24px 0;
}

.latest-news-article {
    background-color: #555555;
    height: 227px;
}

/* Latest funding news */

.latest-fundings {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 24px;
}

.latest-funding-header {
    grid-column: 1 / -1;
}

.latest-funding {
    height: 250px;
    background-color: #555555;
}

/* Articles styling */

.articles {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 24px;
}

.article {
    height: 675px;
    background-color: #555555;
}

/* Latest deals styling */

.latest-deals {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 12px;
}

.latest-deals-header {
    grid-column: 1 / -1;
}

.latest-deal {
    height: 261px;
    background-color: #555555;
}